# ignore everything
/*

# explicitly allow the following in the root
!.gitignore
!build.ps1
!build.psd1
!GitVersion.yml
!LICENSE
!PSScriptAnalyzerSettings.psd1
!README.md
!RequiredModules.psd1

# explicitly allow the following folders
!/.github/*
!/.vscode/*
!/Source/*
!/tests/*
